.users__user {
    display: flex;
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(200, 199, 199);
    border-bottom: none;
}
.users__user:hover {
    box-shadow: 0px -3px 6px -3px black;
}
.users__user:last-child {
    border-bottom: 1px solid rgb(200, 199, 199);
}

.users__user_img {
    margin-right: 10px;
}

.users__user_img_radius {
    border-radius: 25px;
}

.users__user_info>p {
    margin: 0px;
}

.users__user_info span {
    font-weight: 600;
}
.female{
    background-color: #f0d6d9;
}
.users__user_fontname{
    font-size: 22px;
}
.users__user_font{
    font-size: 16px;
}