.search{
    margin-bottom: 0px !important;
    display: flex;
}
.icon{
   font-size: 25px;
   padding-right: 10px;
   padding-top: 5px;
}
.form{
    width: 100%;
}
.formBorder{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0px !important;
}